.places__image {
   max-width: 460px;
   max-height: 460px;
   grid-area: image;
}

@media screen and (max-width: 1120px) {
   .places__image {
      max-width: 440px;
      max-height: 440px;
   }
}

@media screen and (max-width: 960px) {
   .places__image {
      max-width: 340px;
      max-height: 340px;
   }
}

@media screen and (max-width: 540px) {
   .places__image {
      max-width: 320px;
      max-height: 320px;
      margin-bottom: 32px;
   }
}