.cover__subtitle { 
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    z-index: 1;
    max-width: 360px;
    text-align: center;
    margin: 0 auto 0;
    font-family: 'Inter';
}

@media screen and (max-width: 540px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}