.header__logo {
    width: 176px;
    height: 52px;
    margin: 28px auto auto 48px;
}

@media screen and (max-width: 960px) {
    .header__logo {
        margin: 28px auto auto 24px;
    }
}

@media screen and (max-width: 540px) {
    .header__logo {
        width: 142px;
        height: 42px;
        margin: 16px auto auto 16px;
    }
}