.intro {
    display: flex;
    flex-direction: column;
    margin: 0 auto 92px 148px;
    max-width: 690px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 0 auto 92px 48px;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 0 auto 88px 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        margin: 0 auto 64px 16px;
    }
}