.lead__caption {
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    color: white;
    max-width: 160px;
    margin: 8px 0 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: Inter;
}

@media screen and (max-width: 1120px) {
    .lead__caption {
        margin: 8px 0 0 28px;
    }
}

@media screen and (max-width: 960px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}

@media screen and (max-width: 540px) {
    .lead__caption {
        margin: 8px 0 0 16px;
    }
}